JWT_SECRET=your-secret-key-min-32-chars-long
JWT_EXPIRATION=86400000
DB_URL=jdbc:postgresql://localhost:5433/policyrouter
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password
REDIS_HOST=localhost
REDIS_PORT=6379
QUEUE_NAME=message-queue
DLQ_NAME=message-dlq
WORKER_DELAY=2000
MAX_RETRY=3
EMAIL_FROM=noreply@yourdomain.com